@font-face {
    font-family: 'PTSansRegular';
    src: url('../fonts/ptsans/ptsans-regular-webfont.eot');
    src: url('../fonts/ptsans/ptsans-regular-webfont.eot?iefix') format('eot'),
         url('../fonts/ptsans/ptsans-regular-webfont.woff') format('woff'),
         url('../fonts/ptsans/ptsans-regular-webfont.ttf') format('truetype'),
         url('../fonts/ptsans/ptsans-regular-webfont.svg#webfontdeSwgHNj') format('svg');
    font-weight: normal;
    font-style: normal;
}
